<!DOCTYPE html>
<html>

<head>
    <title>Welcome! Jonathan Phouminh </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Views/CSS/styles.css">
</head>    

<body>
    <!-- Introduction -->
    <table cellspacing="20">
        <tr>
            <td>
                <img src="/Assets/cartoon.PNG" alt="jonathan phouminh profile-picture" width="200">
            </td>
            <td>
                <h1> Jonathan Phouminh </h1>
                <p> <em> Hi my name is Jonathan Phouminh and this is my first html page since software dev </em> </p>
                <p>I am 4th year computer science student and am Graduating Spring 2021. I am openly looking for iOS
                    Developer
                    entry positions. I love everything about technology and computers and am also taking steps into the
                    stock
                    market!
                </p>
            </td>
        </tr>
    </table>
    <hr>

    <!-- Education Experience -->
    <h3> Education </h3>
    <ul>
        <li>University of Colorado Boulder</li>
        <li>Erie High School</li>
    </ul>
    <hr>

    <!-- Work Experience -->
    <h3> Work Experience </h3>
    <table>
        <!-- Table Header -->
        <thead>
            <th>Work</th>
            <th>Date</th>
        </thead>

        <!-- Table Body -->
        <tbody>
            <tr>
                <td>T-Mobile Software Engineer Intern: iOS Development</td>
                <td>July 2020 - August 2020</td>
            </tr>
            <tr>
                <td>University Student Developer</td>
                <td>January 2020 - May 2020</td>
            </tr>
        </tbody>

        <!-- Table Footer -->
        <tfoot>

        </tfoot>
    </table>
    <hr>

    <!-- Skills -->
    <table >
        <tr>
            <td>
                <table>
                    <tr>
                        <td>iOS Development⭐️ </td>
                    </tr>
                    <tr>
                        <td>Web Development⭐️</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Stock Investing ⭐️</td>
                    </tr>
                    <tr>
                        <td>League of Legends⭐️</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr>

    <!-- Hobbies -->
    <h3> Hobbies </h3>
    <p> <a href="Hobbies.html" target="_blank"> Click me</a></p>
    <hr>

    <!-- Media Links -->
    <h3> Media Links </h3>
    <ul>
        <li> <a href="https://www.linkedin.com/in/jphouminh71/" target="_blank"> LinkedIn </a> </li>
        <li> <a href="https://www.instagram.com/phou.bear/?hl=en" target="_blank"> Instagram </a></li>
        <li> <a href="https://www.twitch.tv/phoubear" target="_blank"> Twitch </a> </li>
        <li> <a href="https://github.com/jphouminh71" target="_blank"> Github </a> </li>
    </ul>
    <br>
    <p> <a href="ContactMe.html"> Contact Me! </a></p>
</body>

</html>